<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>SDE: SFV</title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">

 <!-- VENDOR SCRIPTS -->
 <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
   < /script

   < script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" >
 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

 <!-- APPLICATION SCRIPTS -->
 <script src="scripts/app.js"></script>
 <div class="a8788">
   <div class="container">
     <h1>Shin Domino's SFV Hideout for Beginners</h1>
     <h2>The place to be if you're free (or just want to be better!)</h2>
   </div>
 </div>

</head>

<body>
 <p>
   I am doing a sanity test
 </p>

 <!-- // Nav Bar -->
 <ul>
  <li><a href="#home">Updates</a></li>
  <li><a href="#news">Want to watch SFV?</SFV></a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>


<!-- //character select -->

 <!-- <Chun Li -->
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <img src="/images/chunt.jpg" alt="Character Select Box">
      <div class="caption">
        <h3>Chun Li</h3>
        <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
        <p><a href="#" class="btn btn-primary" role="button">Wanna learn more?</a></p><br>
        </div>
    </div>
  </div>
</div>

<!-- Ken -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/ken.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Ken</h3>
       <p>Ken Masters, long time friend of Ryu and also a practitioner of the Shoto arts. Ken is a heavy-hitter with some tricky moves.</p>
       <p><a href="#" class="btn btn-primary" role="button">Wanna learn more?</a></p><br>
       </div>
   </div>
 </div>
</div>

<!-- Ryu -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/ryu.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Ryu</h3>
       <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
       <p><a href="#" class="btn btn-primary" role="button">Wanna learn more?</a></p><br>
       </div>
   </div>
 </div>
</div>

<!-- Balrog -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/balrog.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Balrog</h3>
       <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
       <p><a href="#" class="btn btn-primary" role="button">COMING SOON</a></p><br>
       </div>
   </div>
 </div>
</div>

<!-- Vega -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/Vega.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Vega</h3>
       <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
       <p><a href="#" class="btn btn-primary" role="button">COMING SOON</a></p><br>
       </div>
   </div>
 </div>
</div>

<!-- Nash -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/nash.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Nash</h3>
       <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
       <p><a href="#" class="btn btn-primary" role="button">COMING SOON</a></p><br>
       </div>
   </div>
 </div>
</div>

<!-- Cammy -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/cammy.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Cammy</h3>
       <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
       <p><a href="#" class="btn btn-primary" role="button">COMING SOON</a></p><br>
       </div>
   </div>
 </div>
</div>

<!-- Birdie -->
 <div class="col-sm-6 col-md-4 col-lg-3">
   <div class="thumbnail">
     <img src="/images/birdie.jpg" alt="Character Select Box">
     <div class="caption">
       <h3>Birdie</h3>
       <p>Yeah she's hot, but don't be fooled. Her combos are both damaging and stylish. Sleep on her and you will regret it.</p>
       <p><a href="#" class="btn btn-primary" role="button">COMING SOON</a></p><br>
       </div>
   </div>
 </div>
</div>




<!-- Selection and Submission Button -->
 <form>
   <input type="radio" name="combos" value="combos"> Combos<br>
   <input type="radio" name="tech" value="tech"> Non-Combo Tech<br>
   <input type="radio" name="other" value="other"> Other
 </form>

 <button id="colorQuery">Share the Wealth</button>
   <div id="colorAnswer">
</body>

</html>
